<div class="gooi-container">
  <div class="outline">
    <div>
      <h1>All collections made <%= @today %></h1>
      <% @collections.each do |collection| %>
        <p>name:<%= collection.subscription.user.first_name %></p>
      <% end %>
    </div>
  </div>
</div>
