<div class="gooi-container">
  <div class="outline">
    <h1>Driver's Days</h1>
    <div class="grid-container-driver">
      <div class="grid-item">
        <strong>DATE</strong>
      </div>
      <div class="grid-item">
        <strong>COLLECTIONS</strong>
      </div>
      <% @drivers_days.each do |drivers_day| %>
        <div class="grid-item">
          <%= drivers_day.date.strftime('%A, %b %d') %>
        </div>
        <div class="grid-item">
          <%= link_to "Collections", drivers_day_collections_path(drivers_day) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
