<div class="soil-bag">
  <div class="soil-bag__card">
    <i class="fa-solid fa-link-slash soil-bag__icon soil-bag__icon--muted"></i>

    <h1 class="soil-bag__title">This link has expired</h1>
    <p class="soil-bag__lede">
      Compost bag links only last a few weeks. Reply to our WhatsApp and we'll
      send you a fresh one.
    </p>
  </div>
</div>
