// Define variables for your color scheme

// For example:
$blue: #0D6EFD;
$red: #bc4749;
$light-yellow: #F0CD54;
$dark-yellow: #F8B316;
$orange: #E67E22;
$light-green: #84cba3;
$medium-green: #108A63;
$dark-green: #0F4A3A;
$gray: #0E0000;
$light-gray: #F4F4F4;
