footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #023F3A;
  width: 100vw;
  height: 10vh;
  position:fixed;
  bottom: 0;
  z-index: 6;
}
p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 0;

}

.icon-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin: 0 8px;
}
