// Specific CSS for your home-page

// Chris Styles

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

section {
  text-align: center;
}

.page-container {
  margin-bottom: 4rem;
}

.gooi-header {
  position: relative;
  background-image: url('header-gooi-3.png');
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;

  h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-top: 15vh;
    margin-bottom: 1vh;
  }

  h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    color: $dark-yellow;
    text-align: center;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: white;
    text-align: center;
  }
}

.inner-header-container {
  margin: 0 10%;
}

// MAP STYLE
.map-section {

  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin: 24px 5%;

  h1 {
    font-family: 'Libre Baskerville', serif;
    color: #023F3A;
    font-size: 48px;
    margin: 24px 0px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    color: #525560;
    font-size: 2vh;
  }
}

.legend-row {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 1.5vh;
}

.swatch {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #999;
}

.btn-gooi-outline {
  border: 1px solid #333;
  background: #fff;
  padding: 6px 10px;
  border-radius: 8px;
}

.btn-gooi-outline:hover {
  background: #f4f4f4;
}


.service-map-square {
  position: relative;
}

.service-map-key {
  position: absolute;
  top: 2px;
  left: 10px;
  right: 10px;
  z-index: 5;
  width: 75%;
  margin-left: 10%;

  .day-key {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 12px;
    flex: 1 1 320px;
    /* grow, but allow wrap */
    min-width: 220px;
    font-size: 1vh;
  }

}

.map-controls {
  padding: 0.7rem;
  background-color: #ffffffc2;

  .filter-buttons {
    display: flex;
    gap: 8px;
    flex: 1 1 220px;
    justify-content: flex-start;
    min-width: 200px;
  }

  .btn-gooi-outline {
    font-size: 12px;
    /* text size */
    line-height: 1.2;
    /* tighter height */
    padding: 4px 8px;
    /* smaller pill */
    border-radius: 6px;
    /* a bit tighter corners */
    margin: 0px
  }
}


// WAVES STYLE
.waves {
  position: absolute;
  width: 100%;
  height: 15vh;
  bottom: -1px;
  right: 0px;
}

.yellow-txt {
  color: #FBB718;
  font-weight: 700;
}

.header-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gooi-video {
  margin-top: 16px;
  width: 70%;
  position: relative;
  border-radius: 30px;
  z-index: 100;
}

// Mission Section

.mission-section {
  margin: 0 5%;
  margin-top: 204px;

  h1 {
    font-family: 'Libre Baskerville', serif;
    color: #023F3A;
    font-size: 48px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    color: #525560;
    font-size: 1rem;
  }
}

.info-container {
  width: 50%;
  text-align: left;
}

.content-wrapper {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin-left: 1rem;
  position: relative;


}

.icon {
  width: 40px;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
}

.icon-container {
  margin: 8px 0px;
  display: flex;
  align-items: center;
  width: 50%;

  h3 {
    margin: 0 16px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    color: #18191F;
  }
}

.images-container {
  margin-left: 5%;
  width: 50%;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

}

.img-1 .img-2 .img-3 {
  background-color: aqua;
}

.img-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.img-2 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.img-3 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.mission-image {
  max-height: 192px;
  object-fit: cover;
  object-position: middle;
  border-radius: 14px;
  width: 100%;
}

// Compost section

.compost-section {
  margin: 80px 0px;

  h1 {
    font-family: 'Libre Baskerville', serif;
    color: #023F3A;
    font-size: 48px;
    margin: 44px 0px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 16px;
  }

  h3 {
    font-family: 'Libre Baskerville', serif;
    color: #ffffff;
    font-size: 24px;
  }
}

.info-card {
  position: relative;
  margin: 8px;
  text-align: left;

  h3 {
    font-size: 1.3rem
  }

  p {
    font-size: 1.2rem
  }
}

.text-container-compost {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  .compost-title {
    font-family: 'Libre Baskerville', serif;
    color: #ffffff;
    font-size: 18px;

  }
}

.info-card-container {
  display: flex;
  justify-content: space-around;
}

.image-container {
  position: relative;
  max-height: 362px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 14px;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#00000030, #000000ba);
  opacity: 0.7;
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 8px;

  &:hover {
    background-image: linear-gradient(#00000000, #000000);
    opacity: 0.8;
  }
}

// Testimonial styles

.testimonial-section {
  padding: 44px 0px;
  margin-top: 44px;
  background-color: #023f3a82;

  h1 {
    font-family: 'Libre Baskerville', serif;
    color: #023F3A;
    font-size: 48px;
  }

}

.testimonial-card {
  background-color: #023f3a00;
  width: 33%;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 0px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  &:hover {
    background-color: #023f3a57;
  }

  p {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 2vh;
  }

  h4 {
    font-family: 'Libre Baskerville', serif;
    font-size: 22px;

  }

}

.testimonial-image {
  border: solid 4px #FBB718;
  background-color: #525560;
  width: 72px;
  height: 72px;
  border-radius: 200px;
}

.testimonials-container {
  margin-top: 32px;
  display: flex;
  align-items: center;
  width: 100%;
}

// Compostable Styles

.compostable-section {
  margin-top: 16px;
  padding: 44px 0px;

  h1 {
    font-family: 'Libre Baskerville', 'serif';
    color: #023F3A;
    margin: 16px;
    font-size: 48px;
  }
}

.compostable-container {

  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;


}

.arrow-right {
  position: absolute;
  top: 25%;
  right: 3vw;
  transform: translateY(-25%);
  color: white;
  z-index: 2;
  font-size: 3vw;
}

.compostable-card {
  position: relative;
  margin: 8px;
  display: flex;
  flex-direction: column;

  .compost-title {
    text-align: left;
    position: absolute;
    top: 136px;
    font-family: 'Libre Baskerville', serif;
    color: #ffffff;
    font-size: 18px;
    padding: 0px 8px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 0px 8px;
    text-align: left;
    position: absolute;
    bottom: 32px;
    color: #fff;
  }
}

.description-container {
  width: 85%;

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000000;
  }
}

// Toggle Button Styles

.toggle-container {
  display: flex;
  justify-content: center;
  margin: 16px 0px;
  margin-bottom: 26px;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

input[type="checkbox"] {
  opacity: 0.8;

}

input[type="checkbox"].toggle+label {
  position: relative;
  display: flex;
  font-size: 24px;
  align-items: center;
}

input[type="checkbox"].toggle+label::before {
  content: '';
  width: 2em;
  height: 1em;
  border-radius: 1em;
  margin-right: .25em;
  background-color: #e2e2e2;
  transition: 200ms ease-in-out;
}

input[type="checkbox"].toggle+label::after {
  position: absolute;
  left: .1em;
  content: '';
  width: .9em;
  height: .9em;
  border-radius: 1em;
  margin-right: .25em;
  background-color: #fff;
  transition: 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked+label::after {
  transform: translateX(100%);
  background-color: #ffffff;
}

input[type="checkbox"].toggle:checked+label {
  color: #023F3A;
  cursor: pointer;
}

input[type="checkbox"].toggle:checked+label::before {
  background-color: #023F3A;
}

// Pricing styles
.pricing-content-wrapper {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin: 24px 5%;
}

.pricing-section {

  h1 {
    font-family: 'Libre Baskerville', serif;
    color: #023F3A;
    font-size: 48px;
  }

  h5 {
    font-family: 'Libre Baskerville', sans-serif;
    color: #023F3A;
    font-size: 1rem;
  }

  h2 {
    font-family: "Libre Baskerville", serif;
    color: #023F3A;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}

.pricing-text {
  font-family: 'Montserrat', serif;
  font-size: 16px;
  color: #023F3A;

}

.popular {
  border: 2px solid #FBB718;
}

.month-card {
  position: relative;
  width: 32%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  padding: 44px 24px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 0.5rem;
  }

  h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 24px;
    color: #023F3A;
    margin-bottom: 0.6rem;


  }

  h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #fff;
    position: absolute;
    background-color: #FBB718;
    padding: 8px 16px;
    border-radius: 0px 0px 8px 8px;
    top: 0px;
    right: 0px;
  }
}

.standard-months-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;

}

button {
  background-color: #FBB718;
  border: none;
  border-radius: 50px;
  padding: 8px 24px;
  margin-left: 16px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #e29e00;
  }
}

.hide {
  display: none;
}

// Commercial signup section
.commercial-signup-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
}

.commercial-card {
  background-color: rgba(2, 63, 58, 0.05);
  border: 2px solid $dark-green;
  border-radius: 12px;
  padding: 2rem 3rem;
  max-width: 80vw;
  text-align: center;

  h3 {
    font-family: 'Libre Baskerville', serif;
    color: $dark-green;
    font-size: 28px;
    margin-bottom: 1rem;
  }

  p {
    color: $dark-green;
    font-size: 16px;
    margin-bottom: 1.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;
    text-align: left;

    li {
      color: $dark-green;
      padding: 0.5rem 0;
      font-size: 15px;

      &:before {
        content: "✓ ";
        color: $dark-yellow;
        font-weight: bold;
        margin-right: 0.5rem;
      }
    }
  }
}

// play button Style


// .play-btn-container {
//   position: absolute;
//   display: none;
//   justify-content: center;
//   align-items: center;
//   color: #FBB718;
//   width: 70px;
//   height: 70px;
//   border-radius: 150px;
//   background-color: #ffffff;
//   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
// }

// Responsive Styles


@media screen and (max-width: 2460px) {

  .gooi-header {
    h1 {
      font-size: 5vh;
    }

    p {
      font-size: 2.3vh;
    }

    height: 100vh;
  }

  .mission-section {
    margin-top: 40vh;

    p {
      font-size: 2vh;
    }
  }

  .info-card {
    h3 {
      font-size: 1rem
    }

    p {
      font-size: 0.8rem
    }
  }

}

@media screen and (max-width: 1792px) {
  .gooi-header {
    height: 100vh;

    h1 {
      font-size: 6vh;
    }
  }

  .mission-section {
    margin-top: 24vh;
  }

}


@media screen and (max-width: 1440px) {

  .gooi-header {
    height: 100vh;

  }

  .mission-section {
    margin-top: 20vh;
  }

}


@media screen and (max-width: 1080px) {

  .gooi-header {
    height: 100vh;

  }

  .mission-section {
    margin-top: 8vh;
  }

}

@media screen and (max-width: 850px) {

  .inner-header-container {
    margin: 0 5%;
    text-align: -webkit-center;

  }

  .standard-months-container {
    flex-direction: column;

    .month-card {
      width: 80%;
    }
  }

  .mission-section {
    margin-top: 5vh;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .info-container {
    width: 100%;

    h1 {
      margin-top: 0.2vh;
    }
  }

  .images-container {
    width: 100%;
    margin: 16px 0px;
  }

  .gooi-header {

    h1 {
      font-size: 1.5rem;
      padding-top: 4rem;
      padding-bottom: 1rem;
    }

    height: 100vh;

    p {
      font-size: 1rem;
      width: 85%;
    }
  }

  .gooi-video {
    width: 90%;
    border-radius: 16px;
  }
}


@media screen and (max-width: 768px) {

  .service-map-key {
    left: 8px;
    right: 8px;
  }

  .map-controls .day-key {
    flex-basis: 100%;
    order: 2;
    flex-wrap: wrap;
  }

  .map-controls .filter-buttons {
    flex-basis: 100%;
    order: 1;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .map-controls .btn-gooi-outline {
    font-size: 11px;
    padding: 3px 6px;
  }
}

.gooi-header {
  height: 100vh;

  h1 {
    font-size: 2rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }

}

.mission-section {
  margin-top: 6vh;
}

.compost-section {
  margin-top: 3rem;
}

.info-container {
  width: 100%;

  h1 {
    margin-top: 0.2vh;
  }
}



@media screen and (max-width:430px) {
  .gooi-header {
    height: 100vh;

    h1 {
      font-size: 2rem;
      padding-top: 4rem;
      padding-bottom: 1rem;
    }

    p {
      width: 90%;
    }
  }

  .info-container {
    width: 100%;

    h1 {
      margin-top: 0.2vh;
    }
  }

  .compost-section {
    h1 {
      font-size: 32px;
    }
  }

  .btn-gooi {
    padding: 8px 32px;
    width: 100%;

    a {
      text-decoration: none;
    }
  }

  .mission-section {
    margin-top: 2vh;
  }

  .icons-container {
    flex-direction: column;
    width: 100%;
  }

  .images-container {
    width: 85%;
    margin-left: 0;
    margin-top: 24px;
  }

  .info-card-container {
    flex-direction: column;
    width: 85%;
  }

  .testimonials-container {
    flex-direction: column;
  }

  .testimonial-card {
    width: 85%;
  }

  .compostable-container {
    margin: 0; // remove the margin that caused overflow
    padding-left: 16px; // keep your visual inset
    box-sizing: border-box; // padding won’t add to width
    overflow-x: auto; // keep the horizontal carousel
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
  }

  .compostable-container::-webkit-scrollbar {
    display: none;
  }

.compostable-section {
  h1 {
    font-size: 32px;
    margin-bottom: 32px;
  }

}

.standard-months-container {
  flex-direction: column;
}

.month-card {
  width: 85%;
}
}

@media screen and (max-width: 391px) {

  .gooi-header {
    height: 105vh;

    h1 {
      font-size: 2rem;
    }

  }

  .info-container {
    width: 100%;

    h1 {
      margin-top: 0.2vh;
    }

    p {
      color: $font-grey;
    }
  }

  // .mission-section {
  //   margin-top: 5vh;
  // }

  .compost-section {
    margin-top: 3rem;
  }

  .pricing-section {
    h5 {
      font-size: 1rem
    }
  }

}

// Partner Farms Section

.partner-farms-section {
  margin: 80px 5%;
  text-align: center;

  h1 {
    font-family: 'Libre Baskerville', serif;
    color: #023F3A;
    font-size: 48px;
    margin-bottom: 16px;
  }

  .section-description {
    font-family: 'Montserrat', sans-serif;
    color: #525560;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto 48px;
  }
}

.farms-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 32px;
}

.farm-card-mini {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }

  .farm-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }
}

.farm-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: #f5f5f5;
  position: relative;

  .collection-day-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
  }
}

.farm-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.farm-image-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #023F3A 0%, #1f4632 100%);
  color: white;

  i {
    font-size: 48px;
    opacity: 0.3;
  }
}

.farm-card-content {
  padding: 20px;
  text-align: left;

  h3 {
    font-family: 'Libre Baskerville', serif;
    color: #023F3A;
    font-size: 20px;
    margin: 0;
  }

  .farm-suburb {
    font-family: 'Montserrat', sans-serif;
    color: #525560;
    font-size: 14px;
    margin: 0;
    white-space: nowrap;

    i {
      color: $dark-yellow;
      margin-right: 4px;
    }
  }
}

.collection-day-badge {
  display: inline-block;
  background-color: $dark-yellow;
  color: white;
  padding: 4px 12px;
  border-radius: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  width: fit-content;
}

.farm-stat {
  font-family: 'Montserrat', sans-serif;
  color: #1f4632;
  font-size: 14px;
  font-weight: 500;
}

// Responsive design for partner farms
@media screen and (max-width: 1024px) {
  .farms-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .partner-farms-section {
    margin: 60px 5%;

    h1 {
      font-size: 32px;
    }

    .section-description {
      font-size: 16px;
    }
  }

  .farms-grid {
    grid-template-columns: 1fr;
  }

  .farm-image-container {
    height: 160px;
  }
}
