.invoice-container {

  height: 80vh;
  margin: 0 4vh;
  margin-top: 1rem;

  p {
    color: $dark-green;
  }

}
.user-details {
  p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid black;
  p {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

.invoice-items {
  display: flex;
  justify-content: space-between;
  border-bottom: solid black;
  p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
}
