.bg-green {
  background-color: rgba(15, 74, 58, 0.78);
  color: white
}

.card-white {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  width: 100%;
  color: black;
  margin-top: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

.collections-carousel {
  padding-bottom: 2vh;
  margin-top: 4vw;
}

.collections-card {
  // padding: 4vw;
  margin-top: 4vw;
  width: 50vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  color: rgba(15, 74, 58, 0.78);
  position: relative;

  // width: 500px;
  // height: 100px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  ul {
    overflow-x: scroll;
    list-style: none;
    display: inline-block;
    width: 100%;
    float: none;
    padding: 4vw;
  }

  li {
    border-bottom: 1px solid rgba(15, 74, 58, 0.78);
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bucket-height {
      height: 2rem;
      display: flex;
      align-items: center;
    }

    p {
      line-height: 1;
    }
  }

  #arrow-icon {
    position: relative;
    top: 0rem;
    left: 70vw;
  }


  i {
    font-size: 1.2rem;
  }
}

.bucket-img {
  width: 2rem;
  margin-left: 0.5rem;
}


@media screen and (max-width: 768px) {

  .collections-card {
    width: 80vw;
    padding-bottom: 1vh;
  }
}
