.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  overflow: scroll;
  min-height: 80vh;

  p {
    color: $dark-green;
    font-size: 1.2rem;
  }


}

.user-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  h2 {
    margin-top: 1rem;
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }
  li {

    font-size: 0.9rem;
  }
}


@media screen and (max-width: 380px) {
  .user-wrapper {
   margin: 0 16px
  }
}
