.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  p {
    color: $dark-green;
    font-size: 1.2rem;
  }
}

.user-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  h2 {
    margin-top: 1rem;
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }
}
.holiday-form {
  .form-select {
    font-size: 0.8rem;
  }

  .date {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
  }

  .submit-btn {
    background-color: #FBB718;
    border: none;
    border-radius: 50px;
    padding: 8px 24px;
    transition: all 0.3s ease;
    text-decoration: none !important;
    color: white;
  }

}
