<footer>
  <p>Connect with us</p>

  <div class="footer-links">
    <%= link_to "https://www.instagram.com/gooi_capetown/", class: 'icon-link', target: '_blank' do %>
      <i class="fa-brands fa-instagram"></i>
    <% end %>
    <%= link_to "https://www.facebook.com/gooicapetown/", class: 'icon-link', target: '_blank' do %>
      <i class="fa-brands fa-facebook-f"></i>
    <% end %>
    <%= link_to "https://wa.me/+27785325513", class: 'icon-link', target: '_blank' do %>
      <i class="fa-brands fa-whatsapp"></i>
    <% end %>
    <%= link_to "mailto:gooicapetown@gmail.com", class: 'icon-link', target: '_blank' do %>
      <i class="fa-solid fa-envelope"></i>
    <% end %>
  </div>
</footer>
