<div class="navbar-container">
  <div class="inner-container">
    <%= image_tag('gooi_logo_CR.png') %>
    <div class="links-container">
      <%= link_to 'The story',root_path, class:"link-title" %>
      <%= link_to 'How we compost',root_path, class: "link-title" %>
      <button>
        <%= link_to 'Sign up', root_path, class: "link-title-light" %>
      </button>
    </div>
  </div>
</div>
