<div class="admin-container">
  <div class="pt-4 pb-2">
    <p class="dash-eyebrow">Festival Tracker</p>
    <h1>New Festival</h1>
  </div>
  <%= render "form", festival_event: @festival_event %>
</div>
