<div class="background">
  <div class="outline">
    <h1>Welcome <%= current_user.first_name %></h1>
    <p>It's <%= Date.today.strftime('%A, %b %d') %></p>
    <br>
    <% if @subscriptions.empty? %>
      <h2>There are no subscriptions waiting for you.</h2>
    <% else %>
      <p>There are <%= @subscriptions.count %> parcels waiting to be collected</p>
    <% end %>
    <% if current_user.driver? %>
      <p>Ready to get started?</p>
      <%= link_to "Start", drivers_day_start_path(@drivers_day), class: 'collect-button' %>
    <% end %>
  </div>
</div>
