<div class="user-wrapper">
  <h1>Your gooi referrals</h1>
  <p>Refer a friend!</p>
  <h2>You can get R50 off your next subscription for <em>each</em> person who uses your referral code</h2>
  <p>your code is:</p>
  <h2><%= @referral_code %></h2>
  <% if @referrals > 0 %>
    <p>So far <%= @referrals %> people are gooiing with your help!</p>
    <p>get <strong>R<%= @referrals * 50 %></strong> off your next gooi subscription</p>
  <% end %>
</div>
