  <!--header-->
<div class="blog-container">
  <section class="blog-header">
    <div class="inner-header-container">
      <h1 class="blog-header-header">Turning Scraps into Soil</h1>
      <h4 class="text-white blog-header-subheader">The Simple Solution to a Complex Waste Crisis</h4>
      <p class="blog-paragraph-content">Waste has always bothered me; the concept itself is unnatural. In the intricate dance of nature, waste as we know it doesn't exist. Whatever is eliminated or discarded by one creature is used by another in a seamless cycle that has persisted for eons. Humanity produces immense "waste," disrupting this natural cycle. Food waste in landfills breaks down without oxygen, becoming a potent source of methane, a greenhouse gas that worsens the climate crisis and contaminates water as leachate.</p>
      <h2 class="yellow-txt">Not any more.</h2>
      <p class="blog-paragraph-content">Enter gooi: a new member of the Cape Town ecosystem. Gooi reminds us that food waste isn't waste—it's valuable food for soil microbes. The goal? To make composting as simple as throwing scraps into the bin. By composting, we divert food waste from landfills, nourish the Earth, and reconnect with nature's rhythms.</p>
    </div>
    <div class="wave-container">
      <svg
      class="waves"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
        <defs>
          <path
      id="gentle-wave"
      d="M-160 44c30 0 58-18 88-18s58 18 88 18 58-18 88-18 58 18 88 18 58-18 88-18 58 18 88 18v44h-352z"
      ></path>
        </defs>
        <g class="parallax">
          <use
          href="#gentle-wave"
          x="0"
          y="0"
          fill="rgba(255,255,255)"
        ></use>
        </g>
      </svg>
    </div>
  </section>
  <!--mission section-->
  <section class="blog-text-img-flex">
    <div class="flex-wrapper">
      <!--left-->
      <div class="text-container">
        <h1>A Personal Mission<span class="yellow-txt">.</span></h1>
        <p class="mb-3">Composting food waste has always been a near-perfect system, enriching soil, reducing synthetic fertilizer needs, and minimizing greenhouse gas emissions. Separating food waste streamlines recycling and promotes ecological regeneration. However, as simple as composting is, implementing it on a household scale needed innovation.</p>
        <p class="mb-3">In 2019, I realized the solution: household compost collections. If I struggled to compost my scraps, many others surely did too. Fast forward to 2022, I met Alfred, a recycling entrepreneur. Together, we began serving zero-waste households, collecting food scraps weekly, and delivering them to local composters like Soil for Life in Constantia.</p>
        <p class="mb-3">Today, Alfred services neighborhoods from Camps Bay to Fishhoek, diverting over 300 liters of organic waste weekly. Collaborations with Soil for Life and local composters have shown us how powerful and transformative composting can be.</p>
      </div>
      <!--right-->
      <div class="images-container">
        <div class="img-1">
          <%= image_tag('kobus.jpg', class: 'mission-image') %>
        </div>
      </div>
    </div>
  </section>
  <!-- text-only section -->
  <section class="blog-text-section">
    <h1>Waste and the Natural Cycle<span class="yellow-txt">.</span></h1>
    <p class="blog-paragraph-content">Waste has always bothered me; the concept itself is unnatural. In the intricate dance of nature, waste as we know it doesn't exist. Whatever is eliminated or discarded by one creature is used by another in a seamless cycle that has persisted for eons. Humanity produces immense "waste," disrupting this natural cycle. Food waste in landfills breaks down without oxygen, becoming a potent source of methane, a greenhouse gas that worsens the climate crisis and contaminates water as leachate.</p>
    <p class="blog-paragraph-content">Enter <span class="yellow-txt">gooi</span>: a new member of the Cape Town ecosystem. Gooi reminds us that food waste isn't waste—it's valuable food for soil microbes. The goal? To make composting as simple as throwing scraps into the bin. By composting, we divert food waste from landfills, nourish the Earth, and reconnect with nature's rhythms.</p>
  </section>
  <section class="blog-text-img-flex">
    <div class="flex-wrapper">
      <!--left-->
      <div class="images-container">
        <div class="img-1">
          <%= image_tag('compost-01.jpg', class: 'mission-image') %>
        </div>
      </div>
      <!--right-->
      <div class="text-container">
        <h1>About Soil for Life<span class="yellow-txt">.</span></h1>
        <p class="blog-paragraph-content">Soil for Life is a Cape Town-based non-profit that teaches people to build healthy soil, grow nutritious food, and live sustainably. Through hands-on training and outreach, they promote home food gardens and eco-friendly living. Healthy soil supports plant and human health, proving that by nurturing the earth, we nurture our future.
        </p>
      </div>
    </div>
  </section>
  <section class="blog-text-section">
    <h1>Simple Solutions for Big Problems<span class="yellow-txt">.</span></h1>
    <p class="blog-paragraph-content">Gooi proves that simple solutions exist for complex problems. Composting returns organic waste to the soil, showcasing a cycle of health and regeneration. It's a practice that enriches ecosystems, reduces the need for synthetic fertilizers, and supports recycling processes.
    </p>
    <p class="blog-paragraph-content">Separating food waste fosters awareness about waste, encouraging households to reduce food waste overall. It’s a vital step towards sustainability and ecological harmony.
    </p>
  </section>

  <div class="yellow-block">
    <h1>Ready to join the food waste revolution?</h1>
    <div class="mt-5 mb-3">
      <%= link_to 'Sign Up', root_path(anchor: "pricing"), class: 'btn-gooi' %>
    </div>
  </div>
</div>

<!--yellow chunk-->
<!--READY TO JOINN THE FOOD WASTE revolution
sign up-->
