<div class="user-wrapper">
  <h1>Welcome <%= current_user.first_name %></h1>
  <div class="user-container">
    <% if  @subscription.start_date %>
      <h3>Your subscription is confirmed!</h3>
      <p>Alfred will deliver your starter kit on <%= @subscription.start_date.strftime('%A, %b %d') %>.</p>
      <h2>Here's how it works</h2>
      <p>Gooi your kitchen scraps into the bucket!</p>
      <p>When the bucket is full, tie a knot in the bag.</p>
      <p>On collection day, be ready to hand it to Alfred as he comes past. </p>
        <p>Or, leave it in a designated (hidden) spot where he can find it. </p>
        <p>There are a few things you can manage through this portal</p>
        <ol>
          <li>
            <p>Let us know if we should skip your collection for the week</p>
          </li>
          <li>
            <p>Set your next holiday dates if you will be away for more than two consecutive weeks</p>
          </li>
          <li>
            <p>Order another roll of compostable bags</p>
          </li>
          <li>
            <p>Update your subscription details</p>
          </li>
        </ol>
        <%= link_to "Manage my collections", manage_path, class: "small-yellow-btn" %>
        <% else %>
          <p>There seems to have been a hiccup in setting your subscription up.</p>
          <p>If you have made payment successfully, please email your proof of payment to gooicapetown@gmail.com and we will manually commence your subscription.</p>
        <% end %>
      </div>
    </div>
