<div class="welcome-container">
<h1>Welcome <%= current_user.first_name %></h1>
<p>Your subscription is confirmed.</p>
<p>Alfred will deliver your starter kit next <%= @subscription.collection_day %></p>
</div>
