<div class="page-container">
  <section class="map-section">
    <div class="container" style="max-width: 800px;">
      <h1 class="mb-4">New Post</h1>
      <%= render "form" %>
    </div>
  </section>
</div>
