<div class="gooi-container">
  <div class="outline">
    <div>
      <div class="d-flex justify-content-end">
        <%= link_to "Today's Subscriptions", today_subscriptions_path, class: "btn-today-green" %>
      </div>
      <br>
      <h1>All Subscriptions</h1>

      <table class="table table-bordered">
<thead>
    <tr>

      <th scope="col">Customer ID</th>
      <th scope="col">Name</th>
      <th scope="col">Start Date</th>
    </tr>
  </thead>
  <tbody>
     <% @subscriptions.each do |subscription| %>
    <tr>
      <td><%= subscription.customer_id %></td>
      <td><%= link_to subscription.user.first_name, subscription_path(subscription), class: "link-green" %></td>
      <td><%= subscription.start_date&.strftime('%e %B %Y') %></td>
    </tr>
    <% end %>
      </table>

    </div>
  </div>
</div>
