.interest-card {

  position: relative;
  width: 65%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  padding: 44px 24px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 0.5rem;
  }

  h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 24px;
    color: #023F3A;
    margin-bottom: 0.6rem;


  }

  h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #fff;
    position: absolute;
    background-color: #FBB718;
    padding: 8px 16px;
    border-radius: 0px 0px 8px 8px;
    top: 0px;
    right: 0px;
  }
}

.small-icon-card {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;


  p {
    font-size: 14px !important;
    margin: .5rem 0 0;
  }

  .icon-card-header {
    h1 {
      color: $dark-green;
      font-size: 12px;
      margin: 0 auto
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 0.95rem;
  }

  i {
    margin: 4px 0;
    color: $dark-green;
    font-size: bigger
  }

}

.payment-card {
  display: flex;
  width: 45vw;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;

  i {
    font-size: 2rem;
  }

  a {
    text-decoration: none;
    color: $dark-green;
  }

  .payment-card-user {
    width: 35%;
  }

  .payment-card-amount {
    width: 20%;
    text-align: start;
  }

  h2 {
    margin-bottom: 0px
  }
}

@media screen and (max-width: 768px) {
  .payment-card {
    width: 90vw;
  }

}
