.grid-container {
  display: grid;
  grid-template-columns: 80px 150px 85px; /*  repeat(4, 1fr); */ /* Create 4 columns with equal width */
  gap: 0px; /* Add some spacing between grid items */
  justify-content: center;
  max-width: 100%;
}

.grid-container-driver {
  display: grid;
  grid-template-columns: 104px 128px; 
  gap: 0px; /* Add some spacing between grid items */
  justify-content: center;
  max-width: 100%;
}

.grid-item {
  background-color: rgb(255, 255, 255);
  padding: 6px;
  text-align: center;
  border: 1px solid black;
  // min-width: 88px;
}

.collect-grid-button {
  font-weight: lighter;
  background-color: #138a6482;
  color: white;
  padding: 6px;
  box-shadow: inset 0 0 30px #138a64d2;

  border: 1px solid black;

}
