.grid-container {
  display: grid;
  grid-template-columns: 80px 150px 85px; /*  repeat(4, 1fr); */ /* Create 4 columns with equal width */
  gap: 4px; /* Add some spacing between grid items */
  justify-content: center;
  max-width: 99%;
}

.grid-item {
  background-color: rgb(248, 255, 232);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  // min-width: 88px;
}

.collect-grid-button {
  font-weight: bold;
}
