.navbar {
  justify-content: space-between;
  background: #138a64;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  border: 1px green solid;
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
}

.alt_logo {
  width: 80px;
  border-radius: 60px;
}

.logout-link {
  color: white;
}
