// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.centre {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  border-radius: 16px;
  border: 1px solid black;
}
.form-select {
  border-radius: 16px;
  border: 1px solid black;
}

.gooi-container {
  margin: 10px auto;
  width: 100vw;
}

.background {
  background-color: rgb(255, 255, 255);
  max-width: 100vw;
  min-height: 100vh;
}

.collection-container {
  padding: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-header {
  font-family: "Inter";
  margin-bottom: 16px;
  text-align: center;
  font-size: 24px;
}

.collection-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // box-shadow: 3px 3px 5px 6px #138a64;
  border: 1px solid #138a64;
  padding: 16px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  width: 100%;

  .p {
    margin-bottom: -8px;
  }
}

.collection-body-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

// .collection_note {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 16px;
//   flex-direction: column;
//   align-items: center;
// }

// .collection_bucket_quantity {
//   display: flex;
//   justify-content: space-around;
//   margin-bottom: 16px;
// }
// .collection_bucket_type {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 16px;
// }

// .edit_collection {
//   display: flex;
//   flex-direction: column;
// }

.collection-notes {
  // display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
  .p {
    margin-bottom: -12px;
  }
}

// #collection_note {
//   border-radius: 16px;
//   text-align: center;
//   height: 12rem;
//   padding: 10px;
//   // border: 2px solid black;
// }

// #collection_bucket_quantity {
//   border-radius: 16px;
//   text-align: center;
//   width: 50px;
//   padding: 10px;
//   // border: 2px solid black;
// }

// #new_collection {
//   display: flex;
//   flex-direction: column;
// }

// #new_subscription {
//   display: flex;
//   flex-direction: column;
// }

// .subscription_street_address {
//   // display: flex;
//   // justify-content: space-between;
// }

// #subscription_street_address {
//   border-radius: 16px;
//   // text-align: center;
//   height: 30p;
//   padding: 8px;
//   // border: 2px solid black;
// }

// #subscription_suburb {
//   border-radius: 16px;
//   // border: 2px solid black;
//   padding: 8px;
// }

// #subscription_plan {
//   border-radius: 16px;
//   // border: 2px solid black;
//   padding: 8px;
// }

// #subscription_duration {
//   border-radius: 16px;
//   // border: 2px solid black;
//   padding: 8px;
// }

// #collection_bucket_type {
//   border-radius: 16px;
//   // border: 2px solid black;
//   padding: 8px;
// }

// #subscription_start_date {
//   border-radius: 16px;
//   // border: 2px solid black;
//   padding: 8px;
// }

// #subscription_collection_day {
//   border-radius: 16px;
//   // border: 2px solid black;
//   padding: 8px;
// }

// #subscription_suburb {
//   border-radius: 16px;
//   // border: 2px solid black;
//   padding: 8px;
// }
// #subscription_complex {
//   border-radius: 16px;
//   // border: 2px solid black;
//   padding: 8px;
// }

// .subscription_suburb {
//   display: flex;
//   justify-content: space-between;
// }

// .subscription_plan {
//   display: flex;
//   justify-content: space-between;
// }

// .subscription_duration {
//   display: flex;
//   justify-content: space-between;
// }

// .subscription_collection_day {
//   display: flex;
//   justify-content: space-between;
// }

// .subscription_start_date {
//   display: flex;
//   justify-content: space-between;
// }

.radio_buttons {
  display: grid; // Use a grid layout for better control
  grid-template-columns: repeat(
    auto-fit,
    minmax(60px, 1fr)
  ); // Create as many columns as possible with a minimum size of 60px
  gap: 4px; // Space between grid items
  width: 90%; // Ensure the wrapper takes the full width
  margin-left: 1vh;
}

.radio-buttons {
  // No underscore, to match the HTML
  input[type="radio"] {
    margin-left: 24px;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }

  label {
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
  }
}
